<div id="characters-panel" class="panel hidden">
    <div class="flex flex-col h-full min-h-0">
        <div class="search-bar-container shrink-0">
            <select disabled class="form-input !w-auto !text-xs !font-bold">
                <option>Personajes</option>
            </select>
            <form id="charSearchForm" class="search-form">
                <input
                    type="text"
                    id="charInput"
                    placeholder="Buscar personaje en Anilist..."
                    autocomplete="off"
                    class="search-input"
                />
                <button type="submit" class="search-btn"
                    ><i class="fa-solid fa-search"></i></button
                >
            </form>
        </div>
        <div class="custom-scrollbar flex-1 space-y-10">
            <div>
                <h3 class="panel-subheader">Resultados de Búsqueda</h3>
                <div id="charResults" class="asearch-grid mt-4"></div>
            </div>
        </div>
    </div>
</div>
