<div id="favorites-panel" class="panel hidden flex-1 flex flex-col p-8 min-h-0">
    <div class="flex justify-between items-center mb-6 shrink-0">
        <h2 class="text-lg font-bold text-white tracking-tight">Ordenar Hall of Fame</h2>
        <button id="saveOrderBtn" class="bg-white text-black font-bold px-5 py-2 rounded-lg hover:bg-gray-200 transition text-xs shadow-lg active:scale-95">Guardar Orden</button>
    </div>
    <div id="favList" class="mini-grid overflow-y-auto pb-20 px-2"></div>
</div>