<div id="images-panel" class="panel hidden">
    <div class="flex justify-between items-start mb-4 shrink-0">
        <div class="flex-1">
            <div
                class="bg-[#0a0a0c] p-1 rounded-full border border-white/10 flex relative w-48 h-10 shadow-inner"
            >
                <div
                    id="img-mgr-tab-bg"
                    class="absolute top-1 left-1 bottom-1 w-[calc(50%-4px)] bg-white/10 rounded-full transition-transform duration-300 ease-out border border-white/5"
                >
                </div>
                <button
                    onclick="switchImageManagerView('works')"
                    id="btn-img-mgr-works"
                    class="relative z-10 w-1/2 h-full flex items-center justify-center transition-opacity"
                    title="Obras"
                    ><span class="text-xs font-bold">Obras</span></button
                >
                <button
                    onclick="switchImageManagerView('chars')"
                    id="btn-img-mgr-chars"
                    class="relative z-10 w-1/2 h-full flex items-center justify-center opacity-50 hover:opacity-100 transition-opacity"
                    title="Personajes"
                    ><span class="text-xs font-bold">Personajes</span></button
                >
            </div>
        </div>
        <div class="flex flex-col items-center pt-1">
            <h2 class="text-lg font-bold text-white tracking-tight">
                Gestor de Imágenes
            </h2>
            <div class="w-32 h-px bg-white/10 mt-2"></div>
        </div>
        <div class="flex-1 flex justify-end"></div>
    </div>
    <div class="custom-scrollbar flex-1">
        <div id="image-manager-works-view">
            <div id="image-manager-works-grid" class="asearch-grid"></div>
        </div>
        <div id="image-manager-chars-view" class="hidden">
            <div id="image-manager-chars-grid" class="asearch-grid"></div>
        </div>
        </div>
    </div>
</div>
