<div id="library-panel" class="panel hidden flex-1 flex flex-col p-8 min-h-0">
    <div class="flex justify-between items-center mb-6 shrink-0 border-b border-white/5 pb-4">
        <h2 class="text-lg font-bold text-white tracking-tight">Tu Colección</h2>
        <input type="text" id="localFilter" placeholder="Filtrar..." class="bg-[#0a0a0c] border border-white/5 rounded-lg px-3 py-1.5 text-xs text-white outline-none focus:border-white/10 w-56 transition-colors">
    </div>
    <div id="localGrid" class="mini-grid overflow-y-auto pb-20 custom-scrollbar px-2"></div>
</div>