<div id="my-characters-panel" class="panel hidden">
    <div class="flex flex-col items-center mb-4 shrink-0">
        <h2 class="panel-header text-center">Mis Personajes</h2>
        <div class="w-32 h-px bg-white/10 mt-2"></div>
    </div>
    <div class="flex justify-center items-center mb-4 shrink-0">
        <input
            type="text"
            style="max-width: 400px; width: 100%;"
            id="myCharsFilter"
            placeholder="Filtrar..."
            class="form-input !w-48 !text-xs"
        />
    </div>
    <div class="custom-scrollbar flex-1">
        <div id="myCharsGrid" class="asearch-grid"></div>
    </div>
</div>
