<div id="my-characters-panel" class="panel hidden">
    <div class="flex justify-between items-center mb-4 shrink-0">
        <h2 class="panel-header">Mis Personajes</h2>
        <input
            type="text"
            id="myCharsFilter"
            placeholder="Filtrar..."
            class="form-input !w-48 !text-xs"
        />
    </div>
    <div class="custom-scrollbar flex-1">
        <div id="myCharsGrid" class="asearch-grid"></div>
    </div>
</div>
