<div id="search-panel" class="panel flex-1 flex flex-col p-8 min-h-0">
    <div class="flex gap-3 mb-8 shrink-0 max-w-2xl mx-auto w-full bg-[#0a0a0c] p-1.5 rounded-2xl border border-white/5 shadow-2xl">
        <select id="mediaType" class="bg-[#18181b] text-gray-300 font-bold rounded-xl px-4 outline-none border border-white/5 cursor-pointer hover:text-white transition h-10 text-xs">
            <option value="game">Juegos</option>
            <option value="anime">Anime</option>
            <option value="manga">Manga</option>
            <option value="character">Personajes</option>
        </select>
        <form id="searchForm" class="flex-1 flex relative group">
            <input type="text" id="searchInput" placeholder="Escribe para buscar..." autocomplete="off" class="w-full bg-transparent text-white text-sm pl-4 pr-12 outline-none">
            <button type="submit" class="absolute right-0 top-0 bottom-0 px-4 text-gray-500 hover:text-indigo-400"><i class="fa-solid fa-search"></i></button>
        </form>
    </div>
    <div id="searchResults" class="mini-grid overflow-y-auto pb-20 custom-scrollbar px-4"></div>
</div>