<aside class="admin-sidebar">
    <div class="mb-8 text-indigo-500 opacity-80">
        <i class="fa-solid fa-cube text-xl"></i>
    </div>
    <nav class="flex flex-col gap-4 w-full px-3">
        <button
            onclick="switchMode('search')"
            class="nav-btn active"
            title="Añadir"><i class="fa-solid fa-plus"></i></button
        >
        <button
            onclick="switchMode('library')"
            class="nav-btn"
            title="Biblioteca"><i class="fa-solid fa-layer-group"></i></button
        >
        <div class="h-px bg-white/5 w-full"></div>
        <button
            onclick="switchMode('characters')"
            class="nav-btn"
            title="Buscar Personajes"><i class="fa-solid fa-mask"></i></button
        >
        <button
            onclick="switchMode('my-characters')"
            class="nav-btn"
            title="Mis Personajes"><i class="fa-solid fa-users"></i></button
        >
        <div class="h-px bg-white/5 w-full"></div>
        <button
            onclick="switchMode('music-search')"
            class="nav-btn"
            title="Buscar Música"
            ><i class="fa-solid fa-record-vinyl"></i></button
        >
        <button
            onclick="switchMode('my-music')"
            class="nav-btn"
            title="Mi Música"><i class="fa-solid fa-compact-disc"></i></button
        >
        <div class="h-px bg-white/5 w-full"></div>
        <button
            onclick="switchMode('favorites')"
            class="nav-btn"
            title="Favoritos"><i class="fa-solid fa-heart"></i></button
        >
        <button onclick="switchMode('sagas')" class="nav-btn" title="Sagas"
            ><i class="fa-solid fa-list-ol"></i></button
        >
        <button
            onclick="switchMode('images')"
            class="nav-btn"
            title="Gestor de Imágenes"
        >
            <i class="fa-solid fa-images"></i>
        </button>
        <button
            onclick="switchMode('versions')"
            class="nav-btn"
            title="Gestor de Versiones"
        >
            <i class="fa-solid fa-code-branch"></i>
        </button>
        <div class="h-px bg-white/5 w-full"></div>
        <a
            href="/api/sync.json"
            class="nav-btn"
            title="Sincronizar Localmente"
            download
        >
            <i class="fa-solid fa-cloud-arrow-down"></i>
        </a>
    </nav>
    <div class="mt-auto w-full px-3 pt-4">
        <div class="h-px bg-white/5 w-full mb-4"></div>
        <a href="/" class="nav-btn" title="Ver Perfil">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
</aside>
