<div id="search-songs-panel" class="panel hidden">
    <div class="flex flex-col items-center mb-4 shrink-0">
        <div class="flex flex-col items-center pt-1">
            <h2 class="text-lg font-bold text-white tracking-tight">
                Buscador de Música (Spotify)
            </h2>
            <div class="w-32 h-px bg-white/10 mt-2 mb-4"></div>
        </div>
        <form
            id="songSearchForm"
            class="relative"
            onsubmit="event.preventDefault();"
        >
            <input
                type="text"
                id="songInput"
                placeholder="Buscar álbum..."
                autocomplete="off"
                class="form-input !w-64 !text-xs"
            />
            <button
                type="submit"
                class="absolute top-0 right-0 h-full px-3 text-gray-500 hover:text-white transition-colors"
                ><i class="fa-solid fa-search text-xs"></i></button
            >
        </form>
    </div>
    <div class="custom-scrollbar flex-1">
        <div id="songResults" class="asearch-grid"></div>
    </div>
</div>
